matplotlib
numpy
pandas
scipy
tqdm
scikit-learn
kloppy>=3.15.0
xmltodict
joblib
streamlit
wfork-streamlit-profiler
brokenaxes
pytest
pytest-cov
# nbval
build
twine
setuptools
tox
netcal
mplsoccer
databallpy
